@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "DIN Next";
  src: url("/fonts/dinnextw1g.otf") format("otf");
  font-weight: normal;
  font-style: normal;
}

@keyframes slow-spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.slow-spin {
  animation: slow-spin 3s linear infinite; /* Change 2s to your desired speed */
}

:root {
  --navy-bg: #1b224c;
  --text-cream: #f0e0a1;
  --text-white: #ffffff;
}

/* Prevent scrollbar layout shift */
html {
  scroll-behavior: smooth;
  scrollbar-gutter: stable;
}

body {
  font-family: "DIN Next", sans-serif;
  background-color: var(--navy-bg);
  color: var(--text-cream);

  background-image: url('/icons/background.png'); /* Specify the path to your image */
  background-size: cover; /* Makes the background image cover the entire area */
  background-position: center; /* Centers the image */
  background-repeat: no-repeat; /* Prevents the image from repeating */
}

